In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [3]:
id = []
label = []
path = []
for i in tqdm(os.listdir('dataset/lenses/no_sub')):
    id.append(f"{(i.split('.'))[0]}_no")
    path.append(f'dataset/lenses/no_sub/{i}')
    label.append('no_sub')
for i in tqdm(os.listdir('dataset/lenses/sub')):
    id.append(f"{(i.split('.'))[0]}_no")
    path.append(f'dataset/lenses/sub/{i}')
    label.append('sub')

100%|██████████| 5000/5000 [00:00<00:00, 280942.57it/s]
100%|██████████| 5000/5000 [00:00<00:00, 743776.42it/s]

In [4]:
data = pd.DataFrame({'id': id, 'path': path, 'label': label})
data.head()

,id,path,label
0,image_100108096845777232664144315147734473464_no,dataset/lenses/no_sub/image_100108096845777232...,no_sub
1,image_100227287539121191196450747013226157267_no,dataset/lenses/no_sub/image_100227287539121191...,no_sub
2,image_100264483508961414728177018733988774270_no,dataset/lenses/no_sub/image_100264483508961414...,no_sub
3,image_10034692691807247023298096549240614319_no,dataset/lenses/no_sub/image_100346926918072470...,no_sub
4,image_100547076491942497528774543274237571651_no,dataset/lenses/no_sub/image_100547076491942497...,no_sub

In [5]:
data['label'].value_counts()

no_sub    5000
sub       5000
Name: label, dtype: int64

In [6]:
data.to_csv('data.csv', index=False)