In [1]:
import pandas as pd
import os
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [2]:
label1 = []
path1 = []
for i in tqdm(os.listdir('dataset/lenses/no_sub')):
    path1.append(f'dataset/lenses/no_sub/{i}')
    label1.append('no_sub')

100%|██████████| 5000/5000 [00:00<00:00, 874870.47it/s]

In [3]:
label2 = []
path2 = []
for i in tqdm(os.listdir('dataset/lenses/sub')):
    path2.append(f'dataset/lenses/sub/{i}')
    label2.append('sub')

100%|██████████| 5000/5000 [00:00<00:00, 458133.52it/s]

In [4]:
data1 = pd.DataFrame({'path': path1, 'label': label1})
data1.head()

                                                path   label
0  dataset/lenses/no_sub/image_100108096845777232...  no_sub
1  dataset/lenses/no_sub/image_100227287539121191...  no_sub
2  dataset/lenses/no_sub/image_100264483508961414...  no_sub
3  dataset/lenses/no_sub/image_100346926918072470...  no_sub
4  dataset/lenses/no_sub/image_100547076491942497...  no_sub

In [5]:
data2 = pd.DataFrame({'path': path2, 'label': label2})
data2.head()

                                                path label
0  dataset/lenses/sub/image_100015241301657914033...   sub
1  dataset/lenses/sub/image_100019258133324150161...   sub
2  dataset/lenses/sub/image_100037595382723842062...   sub
3  dataset/lenses/sub/image_100051752665265895059...   sub
4  dataset/lenses/sub/image_100061050381335122405...   sub

In [6]:
data1['label'].value_counts()

no_sub    5000
Name: label, dtype: int64

In [7]:
train, test = train_test_split(data1, test_size=0.1, random_state = 42)

In [8]:
train1, test1 = train_test_split(data2, test_size=0.1, random_state = 42)

In [9]:
train.to_csv('anomaly_train.csv', index=False)

In [10]:
frames = [test, test1]
val = pd.concat(frames)

In [11]:
val.head()

                                                   path   label
1501  dataset/lenses/no_sub/image_192530355077532428...  no_sub
2586  dataset/lenses/no_sub/image_261954536036643098...  no_sub
2653  dataset/lenses/no_sub/image_266518901102567766...  no_sub
1055  dataset/lenses/no_sub/image_163698959661327268...  no_sub
705   dataset/lenses/no_sub/image_141411553129293133...  no_sub

In [14]:
val['label'].value_counts()

no_sub    500
sub       500
Name: label, dtype: int64

In [12]:
val.to_csv('anomaly_test.csv', index=False)