In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [2]:
id = []
label = []
path = []
for i in tqdm(os.listdir('dataset/dataset/train/no')):
    id.append(f"{(i.split('.'))[0]}_no")
    path.append(f'dataset/dataset/train/no/{i}')
    label.append('no')
for i in tqdm(os.listdir('dataset/dataset/train/sphere')):
    id.append(f"{(i.split('.'))[0]}_sphere")
    path.append(f'dataset/dataset/train/sphere/{i}')
    label.append('sphere')
for i in tqdm(os.listdir('dataset/dataset/train/vort')):
    id.append(f"{(i.split('.'))[0]}_vort")
    path.append(f'dataset/dataset/train/vort/{i}')
    label.append('vort')

100%|██████████| 10000/10000 [00:00<00:00, 1168981.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 997005.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1108343.42it/s]

In [3]:
data = pd.DataFrame({'id': id, 'path': path, 'label': label})
data.head()

         id                                path label
0      1_no      dataset/dataset/train/no/1.npy    no
1     10_no     dataset/dataset/train/no/10.npy    no
2    100_no    dataset/dataset/train/no/100.npy    no
3   1000_no   dataset/dataset/train/no/1000.npy    no
4  10000_no  dataset/dataset/train/no/10000.npy    no

In [4]:
data['label'].value_counts()

no        10000
sphere    10000
vort      10000
Name: label, dtype: int64

In [5]:
data.to_csv('data.csv', index=False)

In [6]:
id = []
label = []
path = []
for i in tqdm(os.listdir('dataset/dataset/val/no')):
    id.append(f"{(i.split('.'))[0]}_no")
    path.append(f'dataset/dataset/val/no/{i}')
    label.append('no')
for i in tqdm(os.listdir('dataset/dataset/val/sphere')):
    id.append(f"{(i.split('.'))[0]}_sphere")
    path.append(f'dataset/dataset/val/sphere/{i}')
    label.append('sphere')
for i in tqdm(os.listdir('dataset/dataset/val/vort')):
    id.append(f"{(i.split('.'))[0]}_vort")
    path.append(f'dataset/dataset/val/vort/{i}')
    label.append('vort')

100%|██████████| 2500/2500 [00:00<00:00, 500179.36it/s]
100%|██████████| 2500/2500 [00:00<00:00, 1250090.61it/s]
100%|██████████| 2500/2500 [00:00<00:00, 843449.16it/s]

In [7]:
data = pd.DataFrame({'id': id, 'path': path, 'label': label})
data.head()

        id                             path label
0     1_no     dataset/dataset/val/no/1.npy    no
1    10_no    dataset/dataset/val/no/10.npy    no
2   100_no   dataset/dataset/val/no/100.npy    no
3  1000_no  dataset/dataset/val/no/1000.npy    no
4  1001_no  dataset/dataset/val/no/1001.npy    no

In [8]:
data['label'].value_counts()

no        2500
sphere    2500
vort      2500
Name: label, dtype: int64

In [9]:
data.to_csv('val_data.csv', index=False)